language: node_js
node_js:
  - '16'
branches:
  only:
    - master
    # tags
    - /^\d+\.\d+\.\d+(\-beta.\d+)?$/
env:
  global:
    - MATTERMOST_CHANNEL='{"dev":"app---mes-papiers","beta":"app---mes-papiers,publication","stable":"app---mes-papiers,publication"}'
    # MATTERMOST_HOOK_URL
    - secure: "M9AsiCREqvJIMNl79X+9WShz1KqBg3fuakfdOM4gu7lSGe5vdP5JvoCZdAgQSzuGmLv3uBG4qPb/5Zenf1alHPFQczwxJCove3sMdsRcc7TvvnexfP/UzTPsj/nFiEQ5ikIUI3yZcOWFce48SqvlLfgMtapeGrDvwixz1prcV7c0+D3fiKLdv900RIo9lf/Pxy4kh9IlIO5/lpt7MvWX+212tliM68VRB+3Tml24xLZt1eAIPGva6cNy8Jsrmpc88ukLyCHn9NU6/2qhz/Idwgbcy8lPRnzIUdat++OJEnVP+KSpEeia3VuUAvcZIUpiVn1BVgFNqqe5LPLHPm79rjf4faCjUJl3BGwkdB+4vNYqVFzhO1sviv1KMU4IM3iEBg1rYOK/ENTON0Mo66HU6da4vKxmql4wpts3I2q9xAkorkbmKPiwigRegFu/3B0k4QfvxVUN+9/F+UOql054rJr+QPtjwM3ZhpK7okkmkZVl4sWlsfugBoP2VoaH7XA8EvNGhsAR9lvQZAYhF3oVkqpffPbX3+TIw9BMs7pvGm/+/o1pseFea1f3aupE3uc8CpmTpvJ9e+skxOARjJZuemUADshjxsPVyKH5g3wbeI6OvINYUPnDDcc6uofo1+v3hBm8mRcvy/dGEHMmOmRQ6zho1hKc9z81FUOCPn3zY/s="
    # GITHUB_TOKEN
    - secure: "FWk9rCl7I3wlwYWLVNOfyX3lADAHwi93qoP2TgyNkyyXabB20B1o9Qc5oHyv4eKOYTq7U43NtBn5JbHkFeNplf1peP8r6rqO7QV30ViVnUK5jPI0KMWA9dLePZc8v5i8fWi8SaWW4C9rKV4GAfFialm0bHyxf7dfmylrIXt6BvkZZUlvWxdxqGfvVq1tf4frkiOBvHSC63Jyz+/25xC8+ykEswm6HhniUGrizuIQtjm/vVtMfPG8q+RMlC5BnZcTonP0xmvDmYK3yBUH54DG1CVWhoNBd35ieR7P6ujLKwnCiw9wV4uYKfhR4xNhSFOEdVrL5G3MMTOpn5JRO0bIZql1dUgCuTQuMlylNmJtAy+Uf3imGgxsJhOuMbMW/0oUIVLvtTOQuRlqCvfN+44EMntBoJTmClhkOPbXycBUn7iy5y0yWUgGQkI4czWrceMAdO6rZSSgbRtRiW8TqJ4ok1qXYk38htg/Hwpxeva4GDfl62vq+aIey+MjwvEhY7JjIPynL6O/fksS527JYs4KSN5tsIDXDh/PXEbOpiZzW1D5UlDcwGbv7amb8eXDb2NF+389X/7a/1tJSfm9hPtq+C0m72nK7W2rM/Gxi8yrPy7yh8c+8hJeqt+HKPiqaDRMFkabbjp6x9/tgrGOJ9x/siQpjnYoH7Xq8j4RELht5jc="
    # REGISTRY_TOKEN
    - secure: "i8gUr4pLlB520lkFfiGlCSkm+wS0HtWuZFAEpQaeEoGope9ajlzDF5nU7zFVaOTFQKpWqljR6/y5pWIZ7VNxMxzFDZ6Hi0hi7HxeuGonJQXcnJ7TB5ViiCrfc04xR2T8BtTFmJkeV0MEYZ0AWkAEM9oD6AeweYoiCntWQS3c58VwgPf7jL5uT2LVGHH81Cqd4y9a/+Owtlvt05mpfI1o6gKJUo8tEG2B+fHWzXqU/CP0BKsRJxXY4vKwOJ3s83L3deeAxT7O//d/61es/6FgqUxQNfjlLhwsM7g7eGAR+5lUs5v57Qna2qh1wGdjcZBIFB+eaBb+YaE1eMxlo1OWK2qsTki9zWkjhUAwcEqoMKM4iMzS+MK+M1/DK07g6+2JpvuOo/17dcZHygYFXbHd4GJh8efido6xMuoCZaJIQHTQR2tgZI+QSj8QEGIA/3vaXxTw8mTTvewkQHzY20ER3rfn9WLXTUh6UutSj05SX6SMYZOkIntD6xtvWu9z/D5KnyOijAtn63U0hm/CxYoI5gXNYdX9wxTlLFAp8B88ESxa2vweuvbh8cwKNxmvgLBsnRN0UsfjRpIWYjHaGnGowaGrlDewzx+CbhJAL89+psCtwHlAXV5+/WKgITVgmcoNmCCrWyL856Ma+7RIL/kIXik2hNdbrLwUs6/bQtAiRUA="
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn lint
  - yarn test
  - yarn build
before_install:
  - 'if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then openssl aes-256-cbc -K $encrypted_fdd8b84f377d_key -iv $encrypted_fdd8b84f377d_iv -in id_rsa_downcloud_mespapiers.enc -out id_rsa_downcloud_mespapiers -d; fi'
  - 'if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then eval "$(ssh-agent -s)"; fi'
  - 'if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then chmod 600 id_rsa_downcloud_mespapiers; fi'
  - 'if [ "$TRAVIS_SECURE_ENV_VARS" != "false" ]; then ssh-add id_rsa_downcloud_mespapiers; fi'
before_deploy:
  - yarn add cozy-app-publish

deploy:
  - provider: script
    repo: cozy/mespapiers
    skip-cleanup: true
    # deploy the build on a build branch and publish to the Cozy registry
    script: DEPLOY_BRANCH=build && yarn deploy && yarn cozyPublish
    on:
      branch: master
  - provider: script
    repo: cozy/mespapiers
    skip-cleanup: true
    # publish stable or beta versions using Github Releases (git tag)
    script: DEPLOY_BRANCH=build && yarn cozyPublish
    on:
      tags: true
