@require 'settings/breakpoints.styl'

.errorBoundaryEmpty
    position fixed
    top 50%
    transform translateY(-50%)
    margin 0 auto
    +small-screen('min')
        position initial
        transform none
