.placeholder-list
    min-height 15rem

.action-menu
    position absolute
    inset 0
    display flex
    justify-content center
    align-items center

    >div
        position relative !important
        transform: none !important
