.placeholder-list
    min-height 15rem

.action-menu
    position absolute
    inset 0
    display flex
    justify-content center
    align-items center

    >div:first-child
        // "!important" is necessary because the properties we want to override are injected in "style" by the lib and it doesn't leave any other way
        position relative !important
        transform: none !important
