@require 'components/table.styl'

.composite-header-container
    align-self center
    display flex
    flex-direction column
    height 100%
    justify-content center
    max-width 100%
    padding rem(32) 0
    text-align center

.composite-header-img
    display block
    height rem(160)
    margin  0 auto rem(16)

    +medium-screen()
        height rem(160)
        margin-bottom rem(8)
