.composite-header-container
    display flex
    flex-direction column
    justify-content center
    align-self center
    padding rem(32) 0
    text-align center
    max-width 100%

.composite-header-img
    display block
    margin  0 auto rem(16)
    height rem(160)

    +medium-screen()
        margin-bottom rem(8)
        height rem(160)
