@require 'components/table.styl'

[role=banner] .coz-bar-wrapper .coz-bar-container
    +small-screen()
        align-items center
        padding 0

main
    margin 0 auto
    max-width 75rem
    position relative
