@require 'components/table.styl'
@require '../components/CompositeHeader/styles.styl'
@require '../components/DialogInStepper/styles.styl'

[role=banner] .coz-bar-container
    +small-screen()
        align-items center
